.App {
  margin: auto;
  width: 80%;
  border: 3px solid green;
  padding: 10px;
  font-size: calc(2px + 2vmin);
}

.App-header {
  align-items: left;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

div {
  border: 1px solid red;
}

ul{
  display: inline;
  padding-left: 0px;
}

li{
  display: inline;
  text-align: left;
  padding-Right: 10px;
}

.TweetList{
  border: 1px solid blue;
}
